# Gradle
.gradle
.gradle_home
/build
/*/build

# IntelliJ / Android Studio
*.iml
.idea
*.ipr
*.iws

# Local configuration
local.properties
.kotlin

# Android
captures/
.externalNativeBuild
.cxx
google-services.json

# Keys
*.jks
*.keystore

# macOS
.DS_Store

# Temporary
*.tmp
*.log
